{
  "info": {
    "contact": {
      "email": "nelson.ricardo.gomes@gmail.com"
    },
    "description": "Some test api",
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "termsOfService": "http://swagger.io/terms/",
    "title": "Server API",
    "version": "1.0.0"
  },
  "openapi": "3.0.1",
  "paths": {
    "/private/skip": {
      "patch": {
        "description": "Test endpoint",
        "operationId": "id",
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "password": "*******",
                "username": "johndoe@acme.com",
                "integer": 123
              },
              "schema": {
                "description": "Full body description.",
                "properties": {
                  "array": {
                    "items": {
                      "description": "Parameter without description.",
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "arrayOfs": {
                    "items": {
                      "description": "Parameter without description.",
                      "properties": {
                        "internalString": {
                          "description": "Parameter without description.",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "type": "array"
                  },
                  "boolean": {
                    "description": "Parameter without description.",
                    "type": "boolean"
                  },
                  "date": {
                    "description": "Parameter without description. (min:10 chars, max:10 chars, date:yyyy-mm-dd)",
                    "format": "date",
                    "type": "string"
                  },
                  "dateTime": {
                    "description": "Parameter without description. (max:24 chars, ISO8601 date-time format)",
                    "format": "date-time",
                    "type": "string"
                  },
                  "integer": {
                    "description": "Parameter without description.",
                    "format": "int64",
                    "type": "integer"
                  },
                  "number": {
                    "description": "Parameter without description.",
                    "format": "double",
                    "type": "number"
                  },
                  "object": {
                    "description": "Parameter without description.",
                    "properties": {
                      "internalString": {
                        "description": "Parameter without description.",
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  "string": {
                    "description": "Username",
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          },
          "description": "Full body description."
        },
        "responses": {
          "200": {
            "content": {
              "text-plain": {}
            },
            "description": "Successful operation."
          }
        },
        "summary": "Server Test",
        "tags": ["Internals"]
      }
    },
    "/public/:userId": {
      "patch": {
        "description": "Test endpoint",
        "operationId": "id",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "ID of user",
            "required": true,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "password": "*******",
                "username": "johndoe@acme.com",
                "integer": 123
              },
              "schema": {
                "description": "Full body description.",
                "properties": {
                  "array": {
                    "items": {
                      "description": "Parameter without description.",
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "arrayOfs": {
                    "items": {
                      "description": "Parameter without description.",
                      "properties": {
                        "internalString": {
                          "description": "Parameter without description.",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "type": "array"
                  },
                  "boolean": {
                    "description": "Parameter without description.",
                    "type": "boolean"
                  },
                  "date": {
                    "description": "Parameter without description. (min:10 chars, max:10 chars, date:yyyy-mm-dd)",
                    "format": "date",
                    "type": "string"
                  },
                  "dateTime": {
                    "description": "Parameter without description. (max:24 chars, ISO8601 date-time format)",
                    "format": "date-time",
                    "type": "string"
                  },
                  "integer": {
                    "description": "Parameter without description.",
                    "format": "int64",
                    "type": "integer"
                  },
                  "number": {
                    "description": "Parameter without description.",
                    "format": "double",
                    "type": "number"
                  },
                  "object": {
                    "description": "Parameter without description.",
                    "properties": {
                      "internalString": {
                        "description": "Parameter without description.",
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  "string": {
                    "description": "Username",
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          },
          "description": "Full body description."
        },
        "responses": {
          "200": {
            "content": {
              "text-plain": {}
            },
            "description": "Successful operation."
          }
        },
        "summary": "Server Test",
        "tags": ["Internals"]
      }
    }
  },
  "servers": [
    {
      "url": "https://server.com"
    }
  ]
}
